<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/topic.css' />
    <link rel='stylesheet' href='/stylesheets/post.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_rw0sat5f54l.css">
    <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <!-- 后端积分 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1529410_z44h9faz7b.css">
    <!-- 后端资料 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_ktip1pgrai.css">
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav" style="background: #4177ca;">
                <a href="/block/post" >帖子管理</a>
            </div>
            <div class="nav">
                <a href="/block/topic">话题管理</a>
            </div>
            <div class="nav">
                <a href="/block">返回</a>
            </div>
        </div>
        <div class="right">
            <div class="Postbox1">
                <b><h1 class='Posttitle'>回复列表</h1></b>
            </div>
            <div class='Postbox3'>

                    <ul id="all" style="padding-inline-start: 0px;margin-block-start: 0;
                    margin-block-end: 0">
                        <!-- <li>
                            <div class='Posthead'>
                            <h2 class='Posthead1' style="margin-block-start:0;
                            margin-block-end: 0;">回复内容</h2>
                            <h2 class='Posthead2' style="margin-block-start:0;
                            margin-block-end: 0;">操作</h2>
                            <h2 class='Posthead2' style="margin-block-start:0;
                            margin-block-end: 0;">操作人</h2>
                            <h2 class='Posthead2' style="margin-block-start:0;
                            margin-block-end: 0;">回复时间</h2>
                            </div>
                        </li> -->
                        <% for(var i=0;i<replyList.length;i++){%>
                            <li>
                                <img class="Postimg" src="<%=replyList[i]["Uimage"]%>"/>
                                <div class="Postarticle">
                                    <h4 style="margin-block-start:0.5em;
                                    margin-block-end: 0;"><%=replyList[i]["userName"]%></h4>
                                    <p style="margin-block-start: 0;
                                    margin-block-end:0;"><%=replyList[i]["replyContent"]%></p>
                                </div>
                                <button class='Postdel' style="margin-left: 50px;"><a href="/delpostreply?id=<%=replyList[i]["replyId"]%>">移除</a></button>           
                                <p style="float:left;margin-top:12px;margin-left:60px;font-size:20px;text-align: center;" id="user"><%=replyList[i]["adminUsername"]%></p>
                            </li>
                        <%}%>    
                    </ul>
            </div>
            <div style=" width: 945px;height:30px;text-align: center;margin:10px auto;"> 
                    <div class="page">
                        <div id="page">
                        </div>
                    </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript " src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">    
    function getzz() {
    var a = $("ul#all li");
    var zz =new Array(a.length);
    for(var i=0;i <a.length;i++){
        zz[i]=a[i].innerHTML;
    } //div的字符串数组付给zz
    return zz;
}
function change(e){
    pageno=e;
    if(e<1){
        e=1;pageno=1;//就等于第1页 ， 当前页为1
    }
    if(e>pageall){  //如果输入页大于最大页
        e=pageall;pageno=pageall; //输入页和当前页都=最大页
    }
    $("#all").html("");//全部清空
    var html="<li class='Topichead'><h3 class='Topichead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>话题内容</b></h3><h3 class='Topichead2' style='margin-block-start:0.5em;margin-block-end: 0;'><b>操作</b></h3><h3 class='Topichead3' style='margin-block-start:0.5em;margin-block-end: 0;'><b>操作人</b></h3><h3 class='Topichead2' style='margin-block-start:0.5em;margin-block-end: 0;'><b>操作时间</b></h3></li>";
    for(var i=0;i<pagesize;i++){
        if(zz[(e-1)*pagesize+i]){
            html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';//创建一页的li列表
        }
        if(zz[(e-1)*pagesize+i+1]==null) break;//超出最后的范围跳出
    }
    $("ul#all").html(html);//给ul列表写入html
    var ye="";
    for(var j=1;j<=pageall;j++){
        if(e==j){
            ye=ye+"<span><a href='#' onClick='change("+j+")' style='color:#FF0000'>"+j+"</a></span> "
        }else{
            ye=ye+"<a href='#' onClick='change("+j+")'>"+j+"</a> "
        }
    }
    var pageContent="";
        pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
        pageContent +='<span id="a1">'+pageall+'</span>页';
        pageContent +="<span id='a3' style='text-decoration:underline;margin-left:10px'>"+ye+'</span>';
        pageContent +='<a href="#" style="text-decoration:underline;margin-left:10px;" onClick="change(--pageno)">上一页</a>';
        pageContent +='<a href="#" style="text-decoration:underline;margin-left:5px;" onClick="change(++pageno)">下一页</a>';
    $("#page").html(pageContent);
}
    var zz=getzz()
    var pageno=1 ; //当前页
    var pagesize=5; //每页多少条信息
    if(zz.length%pagesize==0){
        var  pageall =zz.length/pagesize ;
    }else{
        var  pageall =parseInt(zz.length/pagesize)+1;
    }   //一共多少页
    change(1);
    
    document.getElementsByClassName("Postdate")[0].onclick = function() {
            temp('pop-container').style.display = 'block';console.log($("#myDay").val());
        }
        $(function(){
			var date=new Date();
			var year=date.getFullYear();
			var day=date.getDate();
			var month=date.getMonth()+1;
		//格式化日，如果小于9，前面补0
			// if(day<10){
			// 	 day = "0" + day;
			// }
			//格式化月，如果小于9，前面补0
			// if(month<10){
			// 	 month = (month + 1);
			// }
			//拼装完整日期格式
			//var today = date.getFullYear()+"-"+(month)+"-"+(day) ;
			var myYue=(year)+"-"+(month);
			var myDay=(myYue)+"-"+(day);
			$("#myDay").val(myDay);
	});
    </script>
</html>
