<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/score.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_rw0sat5f54l.css">
    <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <!-- 后端积分 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1529410_z44h9faz7b.css">
    <!-- 后端资料 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_ktip1pgrai.css">
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/score/list">积分表</a>
            </div>
            <div class="nav" style="background: #4177ca;">
                <a href="/score/manage">积分对照表</a>
            </div>
            <div class="nav">
                <a href="/score">返回</a>
            </div>
        </div>
        <div class="right">
                <div class="box1">
                    <h2>您搜索的结果是:</h2>
                    <br/>
                </div>
            <div class='Managebox3'>
                <ul class='ManageList' style="padding-inline-start: 0px;margin-block-start: 0;
                margin-block-end: 0">
                    <li class='Managehead'>
                        <h3 class='Managehead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>任务编号</b></h3>
                        <h3 class='Managehead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>任务内容</b></h3>
                        <h3 class='Managehead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>分数</b></h3>
                         <h3 class='Managehead1' style="margin-block-start:0.5em;
                         margin-block-end: 0;"><b>操作</b></h3>
                    </li>
                    
                    <% for(var i = 0 ; i < taskList.length; i++) {%>
                        <li>
                            <p class='Managebody'><%= taskList[i]["taskId"] %></p>  
                            <p class='Managebody'><%= taskList[i]["taskContent"] %></p>
                            <p class='Managebody'><%= taskList[i]["taskScore"] %></p>            
                            <div class='Managebody'>
                                    <div class='Topicoperation'>
                                        <form method="post" action="/task1" class="operation1">
                                            <button style="color: white;border:1px solid white;width: 50px;
                                            height: 30px;">编辑
                                                <input type='submit' style="float: right;border:1px solid #61b3ed" id='bianji' name="task" value='<%= taskList[i]["taskId"] %>'></button>
                                        
                                        </form>
                                        <a href='/score/deletemanage?taskId=<%= taskList[i]["taskId"]%>'><button  style=" width: 50px;
                                            height: 30px;
                                            background-color: #fff;
                                            border:1px solid #888;
                                            color: #4177CA;">移除</button></a>
                                    </div> 
                            </div>                               
                        </li>
                    <%}%>      
                </ul>
            </div>
            <div style=" width: 945px;height:10px;text-align: center;margin:20px auto;">
                    <a href='/score/manage'><button style="color: white;border:1px solid white;width: 50px;
                    height: 30px;background-color:  #61b3ed;">返回</button></a>
                </div>
        </div>
        <div >
            <div id="pop-container">
                <div id="cover-tier" class="popPosition"></div>
                <div id="pop-tier" class="popPosition">
                    <i id="close-pop">&#10006;</i>
                    <form action="/addtask" method="post">
                    <div style="width:380px;float:left;">
                        <h2 style="float:left;margin-left:20px;margin-top:25px;">任务内容:</h2>
                        <input type='text' id="content" style="width:340px;height:200px;"name="content"  />
                    </div>
                    <h2 style="float:left;margin-left:20px;margin-top:27px;" >分数:</h2>
                    <input type='text' id="create" style="width:200px;height:30px;margin-top:27px;"name='score'/>
                    <br/>
                    <input value="保存" id="save" type="submit" style="float:right;border:'1px soild #61b3ed';margin-right:20px;width:55px;height:30px;background-color:#61b3ed;color:'#ffffff';margin-top: 10px;"/>
                </form>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">
    function temp(id) {
        return document.getElementById(id);
    }
    // 点击右上角X弹出层隐藏
    temp('close-pop').onclick = function() {
        temp('pop-container').style.display = 'none';
    }
</script>
</html>