<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/user.css' />
    <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <!-- 后端积分 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1529410_z44h9faz7b.css">
    <!-- 后端资料 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_ktip1pgrai.css">
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="./images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav" style="background: #4177ca;">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">论坛管理</a>
            </div>
            <div class="nav">
                <a href="/score">积分管理</a>
            </div>
            <div class="nav">
                <a href="/material">资料管理</a>
            </div>
            <div class="nav">
                <a href="/system">系统管理</a>
            </div>
            <div class="nav">
                <a href="/home">返回</a>
            </div>
        </div>
        <div class="right">
            <div class="box1">
                <div class='search'>
                    <form method="post" action="/searchuser" style="line-height: 2.5em;">
                        <input class='Bar' placeholder="请输入要搜索用户的用户名" name='userName'/>
                        <div class="iconfont icon-sousuo da" style="float:right;margin-right: 3px;"><input  type="submit" value="搜索"style="margin-left:5px;border:0px solid #eee;
                            background: #eee;"></div>
                    </form>
                </div>
            </div>
           <div class='Userbox3'>
               <ul id="all" >
                   <li >
                       <div class="Userhead">
                       <h3 class='Userhead1'>头像</h3>
                       <h3 class='Userhead1'>用户名</h3>
                       <h3 class='Userhead1'>手机号</h3>
                       <h3 class='Userhead1'>性别</h3>
                       <h3 class='Userhead1'>生日</h3>
                       <h3 class='Userhead1'>所在地</h3>
                       <h3 class='Userhead1'>操作</h3>
                       </div>
                   </li> 
                   <% for(var i = 0 ; i < userList.length; i++) {%>
                    <li>
                        <div class='Userbody'>
                        <img class="Userimg" src='<%= userList[i]["Uimage"] %>'/>
                        </div>
                        <p class='Userbody'><%= userList[i]["userName"] %></p>
                        <p class='Userbody'><%= userList[i]["Uphone"] %></p>
                        <p class='Userbody'><%= userList[i]["Usex"] %></p>
                        <p class='Userbody'><%= userList[i]["Ubirthday"] %></p>
                        <p class='Userbody'><%= userList[i]["Uaddress"] %></p>
                        <p class='Userbody'><a href='/deleteuser?userName=<%= userList[i]["userName"]%>'><button class='Userdel' >移除</button></a></p>
                    </li>
                <%}%>
               </ul>
           </div>
        <div style=" width: 945px;height:30px;text-align: center;margin:20px auto;"> 
        <div class="page">
            <div id="page">
            </div>
        </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function getzz() {
    var a = $("ul#all li");
    var zz =new Array(a.length);
    for(var i=0;i <a.length;i++){
        zz[i]=a[i].innerHTML;
    } //div的字符串数组付给zz
    return zz;
}
function change(e){
    pageno=e;
    if(e<1){
        e=1;pageno=1;//就等于第1页 ， 当前页为1
    }
    if(e>pageall){  //如果输入页大于最大页
        e=pageall;pageno=pageall; //输入页和当前页都=最大页
    }
    $("#all").html("");//全部清空
    if(pageno==1){
        var html="";
    }
    else{
        var html=" <li><div class='Userhead'><h3 class='Userhead1'>头像</h3><h3 class='Userhead1'>用户名</h3><h3 class='Userhead1'>手机号</h3><h3 class='Userhead1'>性别</h3><h3 class='Userhead1'>生日</h3><h3 class='Userhead1'>所在地</h3><h3 class='Userhead1'>操作</h3></div></li> ";
    }
    for(var i=0;i<pagesize;i++){
        html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';//创建一页的li列表
        if(zz[(e-1)*pagesize+i+1]==null) break;//超出最后的范围跳出
    }
    $("ul#all").html(html);//给ul列表写入html
    var ye="";
    for(var j=1;j<=pageall;j++){
        if(e==j){
            ye=ye+"<span><a href='#' onClick='change("+j+")' style='color:#FF0000'>"+j+"</a></span> "
        }else{
            ye=ye+"<a href='#' onClick='change("+j+")'>"+j+"</a> "
        }
    }
    // var pageContent="";
    // pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
    // pageContent +='<span id="a1">'+pageall+'</span>页';
    // pageContent +='<span id="a3">'+ye+'</span>';
    // pageContent +='<a href="#" onClick="change(--pageno)">上一页</a>';
    // pageContent +='<a href="#" onClick="change(++pageno)">下一页</a>';
    // $("#page").html(pageContent);
    var pageContent="";
        pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
        pageContent +='<span id="a1">'+pageall+'</span>页';
        pageContent +="<span id='a3' style='margin-left:10px'>"+ye+'</span>';
        pageContent +='<a href="#" style="margin-left:10px;" onClick="change(--pageno)">上一页</a>';
        pageContent +='<a href="#" style="margin-left:5px;" onClick="change(++pageno)">下一页</a>';
        $("#page").html(pageContent);
}
    var zz=getzz()
    var pageno=1 ; //当前页
    var pagesize=6; //每页多少条信息
    if(zz.length%pagesize==0){
        var  pageall =zz.length/pagesize ;
    }else{
        var  pageall =parseInt(zz.length/pagesize)+1;
    }   //一共多少页
    change(1);
</script>
</html>
