<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/material.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_rw0sat5f54l.css">
    <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <!-- 后端积分 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1529410_z44h9faz7b.css">
    <!-- 后端资料 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_ktip1pgrai.css">
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="../images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/material/method">攻略管理</a>
            </div>
            <div class="nav" style="background: #4177ca;">
                <a href="/material/spot">景点管理</a>
            </div>
            <div class="nav">
                <a href="/material">返回</a>
            </div>
        </div>
        <div class="right">
            <div class="box1">
                <h2>您搜索的结果是:</h2>
                <br/>
            </div>
            <div class='Materialbox3'>
                <ul class='MaterialList' style="padding-inline-start: 0px;margin-block-start: 0;
                margin-block-end: 0">
                    <li class='Materialhead'>
                        <h3 class='Materialhead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>编号</b></h3>
                        <h3 class='Materialhead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>城市名</b></h3>
                        <h3 class='Materialhead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>天数</b></h3>
                        <h3 class='Materialhead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>城市介绍</b></h3>
                        <h3 class='Materialhead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>城市照片</b></h3>
                        <h3 class='Materialhead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>攻略</b></h3>
                        <h3 class='Materialhead1' style="margin-block-start:0.5em;
                        margin-block-end: 0;"><b>操作</b></h3>
                    </li>
                    <% for(var i=0;i<methodList.length;i++){ %>
                        <li>
                            <p class='Materialbody'><%= methodList[i].methodId %></p>  
                            <p class='Materialbody'><%= methodList[i].cityName %></p>
                            <p class='Materialbody'><%= methodList[i].methodDay %></p>
                            <p class='Materialbody'><%= methodList[i].cityContent %></p>  
                            <p class='Materialbody'><%= methodList[i].cityImage %></p>
                            <p class='Materialbody'><%= methodList[i].methodContent %></p>
                            <div class='Materialbody'>
                                <div class='Materialoperation'>
                                    <form method="post" action="/method" class="operation1">
                                        <button style="color: white;border:1px solid white;width: 50px;
                                        height: 30px;">编辑
                                            <input type='submit' style="float: right;border:1px solid #61b3ed" id='bianji' name="method" value='<%= methodList[i].methodId %>'/>
                                        </button>
                                    </form>
                                    <a href='/material/delmethod?methodId=<%= methodList[i].methodId %>'>
                                        <button style=" width: 50px;height: 30px;background-color: #fff;border:1px solid #888;color: #4177CA;">
                                        移除
                                        </button>
                                    </a>
                                </div> 
                            </div>   
                        </li>
                    <% } %>      
                </ul>
            </div>
        </div>
        <div>
            <div id="pop-container">
                <div id="cover-tier" class="popPosition"></div>
                <div id="pop-tier" class="popPosition">
                    <i id="close-pop">&#10006;</i>
                    <form action="/material/method" method="POST" style="height:300px;margin-top:40px;border:1px solid;">
                        <div class='text'>
                            <h4>城市名：</h4>
                            <input class="first" type="text" placeholder="1232" name="cityName"/>
                        </div>
                        <div class='text'>
                            <h4>天数：</h4>
                            <input class="first" type="text" placeholder="1232" name="methodDay"/>
                        </div>
                        <div class='text'>
                            <h4>城市介绍：</h4>
                            <input class="second" type="file" name="cityContent"/>
                        </div>
                        <div class='text'>
                            <h4>城市照片：</h4>
                            <input class="second" type="file" name="cityImage"/>
                        </div>
                        <div class='text'>
                            <h4>攻略：</h4>
                            <input class="second" type="file" name="methodContent"/>
                        </div>
                        <button type="submit" id="save" style="border:1px solid #888;width:50px;height:30px;background:#61b3ed;color:white;margin-top:40px">保存</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function temp(id) {
        return document.getElementById(id);
    }
    // 点击按钮出现弹出层
    temp('btn').onclick = function() {
        temp('pop-container').style.display = 'block';
    }
    // 点击右上角X弹出层隐藏
    temp('close-pop').onclick = function() {
        temp('pop-container').style.display = 'none';
    }
</script>
</html>