<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/material.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_rw0sat5f54l.css">
    <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <!-- 后端积分 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1529410_z44h9faz7b.css">
    <!-- 后端资料 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_ktip1pgrai.css">
</head>
<body style="background:#dfdfdf">
    <div class="all">
        <header style="background:#61b3ed;width:1200px;height:80px;float:left;"> 
            <img src="../images/logo.png" style="width:7%;height:100%;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:75px;margin-left:40px;">爱游不错游后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav" style="background: #4177ca;">
                <a href="/material/method">攻略管理</a>
            </div>
            <div class="nav">
                <a href="/material/spot">景点管理</a>
            </div>
            <div class="nav">
                <a href="/material">返回</a>
            </div>
        </div>
        <div class="right">
            <div class="box1">
                <div class='search'>
                    <input class='Bar' placeholder="请输入要查找的"/>
                    <div class="iconfont icon-sousuo da" style="margin-top:5px;margin-right:15px;float:right"></div>
                </div>
            </div>
            <div class="box2">
                <p style="font-size:22px;font-weight:bold">爱游不错游攻略管理
                    <span style="margin-left:30px" class="iconfont icon-wuuiconxiangjifangda" id="btn"></span>
                    <span style="font-size:20px;margin-left:5px;font-weight:lighter">添加</span>
                </p>
            </div>
            <div class='Materialbox3'>
                <ul class='MaterialList' style="padding-inline-start: 0px;margin-block-start: 0;
                margin-block-end: 0" id="all">
                    <li>
                        <div class='Materialhead'>
                            <h3 class='Materialhead1' style="margin-block-start:0.5em;
                            margin-block-end: 0;"><b>编号</b></h3>
                            <h3 class='Materialhead1' style="margin-block-start:0.5em;
                            margin-block-end: 0;"><b>城市名</b></h3>
                            <h3 class='Materialhead1' style="margin-block-start:0.5em;
                            margin-block-end: 0;"><b>天数</b></h3>
                            <h3 class='Materialhead1' style="margin-block-start:0.5em;
                            margin-block-end: 0;"><b>城市介绍</b></h3>
                            <h3 class='Materialhead1' style="margin-block-start:0.5em;
                            margin-block-end: 0;"><b>城市照片</b></h3>
                            <h3 class='Materialhead1' style="margin-block-start:0.5em;
                            margin-block-end: 0;"><b>攻略</b></h3>
                            <h3 class='Materialhead1' style="margin-block-start:0.5em;
                            margin-block-end: 0;"><b>操作</b></h3>
                        </div>
                    </li>
                    <% for(var i=0;i<methodList.length;i++){ %>
                            <li>
                                <p class='Materialbody'><%= methodList[i].methodId %></p>  
                                <p class='Materialbody'><%= methodList[i].cityName %></p>
                                <p class='Materialbody'><%= methodList[i].methodDay %></p>
                                <p class='Materialbody'><%= methodList[i].cityContent %></p>  
                                <p class='Materialbody'><%= methodList[i].cityImage %></p>
                                <p class='Materialbody'><%= methodList[i].methodContent %></p>
                                <div class='Materialbody'>
                                    <div class='Materialoperation'>
                                        <form class="operation1">
                                            <button style="color: white;border:1px solid white;width: 50px;height: 30px;">编辑
                                                <input type='submit' id='bianji' style="float: right;border:1px solid #61b3ed" name="method" value='<%=methodList[i].methodId%>'>
                                            </button>
                                        </form>
                                        <a href='/material/delmethod?methodId=<%= methodList[i].methodId %>'>
                                            <button  style=" width: 50px;height: 30px;background-color: #fff;border:1px solid #888;color: #4177CA;">
                                            移除
                                            </button>
                                        </a>
                                    </div> 
                            </div>                               
                        </li>
                    <%}%>      
                </ul>
            </div>
            <div style=" width: 945px;height:30px;text-align: center;margin:10px auto;"> 
                <div class="page">
                    <div id="page">
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div id="pop-container1" style="display: block;">
                <div id="cover-tier1" class="popPosition1"></div>
                <div id="pop-tier1" class="popPosition1">
                    <i id="close-pop1">&#10006;</i>
                    <form action="/upmethod" method="POST" style="height:300px;margin-top:40px;">
                        <div class='text'>
                            <h4>城市名：</h4>
                            <input class="first" type="text" name="cityName"/>
                        </div>
                        <div class='text'>
                            <h4>天数：</h4>
                            <input class="first" type="text" name="methodDay"/>
                        </div>
                        <div class='text'>
                            <h4>城市介绍：</h4>
                            <input class="second" type="file" name="cityContent"/>
                        </div>
                        <div class='text'>
                            <h4>城市照片：</h4>
                            <input class="second" type="file" name="cityImage"/>
                        </div>
                        <div class='text'>
                            <h4>攻略：</h4>
                            <input class="second" type="file" name="methodContent"/>
                        </div>
                        <button type="submit" id="save" style="border:1px solid #888;width:50px;height:30px;background:#61b3ed;color:white;margin-top:40px">保存</button> 
                    </form>
                    
            </div>
        </div>
    </div>

</body>
<script type="text/javascript " src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    function temp(id) {
        return document.getElementById(id);
    }
    // 点击右上角X弹出层隐藏
    temp('close-pop1').onclick = function() {
        temp('pop-container1').style.display = 'none';
        window.location.href="/material/method";
    }
    function getzz() {
        var a = $("ul#all li");
        var zz =new Array(a.length);
        for(var i=0;i <a.length;i++){
            zz[i]=a[i].innerHTML;
        } //div的字符串数组付给zz
        return zz;
    }
    function change(e){
        pageno=e;
        if(e<1){
            e=1;pageno=1;//就等于第1页 ， 当前页为1
        }
        if(e>pageall){  //如果输入页大于最大页
            e=pageall;pageno=pageall; //输入页和当前页都=最大页
        }
        $("#all").html("");//全部清空
        if(pageno==1){
            var html="";
        }
        else{
            var html="<li><div class='Materialhead'>"
                +"<h3 class='Materialhead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>编号</b></h3>"
                +"<h3 class='Materialhead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>城市名</b></h3>"
                +"<h3 class='Materialhead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>天数</b></h3>"
                +"<h3 class='Materialhead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>城市介绍</b></h3>"
                +"<h3 class='Materialhead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>城市照片</b></h3>"
                +"<h3 class='Materialhead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>攻略</b></h3>"
                +"<h3 class='Materialhead1' style='margin-block-start:0.5em;margin-block-end: 0;'><b>操作</b></h3></div></li>";
        }
        for(var i=0;i<pagesize;i++){
            html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';//创建一页的li列表
            if(zz[(e-1)*pagesize+i+1]==null) break;//超出最后的范围跳出
        }
        $("ul#all").html(html);//给ul列表写入html
        var ye="";
        for(var j=1;j<=pageall;j++){
            if(e==j){
                ye=ye+"<span><a href='#' onClick='change("+j+")' style='color:#FF0000'>"+j+"</a></span> "
            }else{
                ye=ye+"<a href='#' onClick='change("+j+")'>"+j+"</a> "
            }
        }
        var pageContent="";
        pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
        pageContent +='<span id="a1">'+pageall+'</span>页';
        pageContent +="<span id='a3' style='margin-left:10px'>"+ye+'</span>';
        pageContent +='<a href="#" style="margin-left:10px;" onClick="change(--pageno)">上一页</a>';
        pageContent +='<a href="#" style="margin-left:5px;" onClick="change(++pageno)">下一页</a>';
        $("#page").html(pageContent);
    }
    var zz=getzz()
    var pageno=1 ; //当前页
    var pagesize=5; //每页多少条信息
    if(zz.length%pagesize==0){
        var  pageall =zz.length/pagesize ;
    }else{
        var  pageall =parseInt(zz.length/pagesize)+1;
    }   //一共多少页
    change(1);
</script>
</html>
